BasedOnStyle: LLVM
UseTab: ForIndentation
IndentWidth: 4
TabWidth: 4
ContinuationIndentWidth: 4
BreakBeforeBraces: Attach
NamespaceIndentation: All
FixNamespaceComments: false
ColumnLimit: 0
SortIncludes: false